# Pythons basics

> In this notebook, we are going to cover the python skills we need to develop Machine Learning model

**Note:** This notebook will only covers the amount of python needed for this workshop

## Why python
1. Python has a simple syntax similar to the English language.
2. Python has a lot of libraries (pre-written codes) that are going to help us develop Machine Learning models

## Codes
We can run the python code as soon as it is written, and the program runs from top to bottom.

## Variables

We can save different values and access them later using pythons `varibles`.

we can simply create a varible by typing the name of the variable and assign a value to it.

In [1]:
x = 10

In [2]:
x

10

## Comment
We can use comments, which are text inside our code that the is not considered code.
We can use comments to make our code more readable.

We can create a comment by putting `#` in the beginning of the line.

In [3]:
# This is a comment

## Types of Data
Python has some data types that we will commonly use

For examples:
1. `str` - short for string, which simply means text
2. `int` - short for integer, which means non-decimal numbers
3. `float` - decimal numbers
4. `dictionary` - a dictionary is a key, value pair, with the key being a string
5. `list` - a list is a simply a list of values, and the values can be any type of data

### String
Any text should be surrounded by quotation marks `""` or `''`.

In [4]:
# Create a string named string1
string1 = "This is a string"
string1

'This is a string'

In [5]:
# Create a string named string2
string2 = 'This is a string'
string2

'This is a string'

### Integer
Any number that is not decimal

In [6]:
# Create a integer named integer1
integer1 = 5
integer1

5

### Float 
Any number that is decimal

In [7]:
# Create a flaot named flaot1
float1 = 5.0
float1

5.0

In [8]:
# Create a flaot named flaot1
float2 = 2.3
float2

2.3

### Dictionary 
A dictionary is a key value pair, declared by curly brackets `{key:value}`, there can be many key, values pair as wanted.

In [9]:
# Create a dictionary named dictionary1
dictionary1 = {"first key": 5}
dictionary1

{'first key': 5}

In [10]:
# Create a dictionary named dictionary2
dictionary2 = {"first key": "first value",
              "second key": "second value"}
dictionary2

{'first key': 'first value', 'second key': 'second value'}

### List
A list is a values of data surrounded by square brackets `[]`, and every value is seperated by comma `,`.

In [11]:
# Create a list named list1
list1 = [1,2,3,4,5,6]
list1

[1, 2, 3, 4, 5, 6]

In [12]:
# Create a list named list2
list2 = ["first value", "second value", "third value"]
list2

['first value', 'second value', 'third value']

#### List Slicing 
We can get any value from the list using List Slicing by specifying the order of the value we want.

**Note:** Start counting from 0

In [13]:
# Use List slicing to get the second value from list1
list1[1]

2

In [14]:
# Use List slicing to get the first value from list2
list2[0]

'first value'

## Main functions

Here are the main funtions that we are going to use
1. `len()` - this function allows us to know the number of values inside a the data
2. `import` - this function allows us to import pre-written codes to help us develop in python

In [15]:
# Use the len() function to know the number of values inside list1
len(list1)

6

In [16]:
# Use the import function to import a library
import random

## Methods 
Access functions and attrbuites from the variables by adding `.` at the end of the variable.

In [17]:
# Create a random float
random.random()

0.9711972638929187

## Arguments
In some functions, we can add argument inside the parentheses `()`, to achieve results.

In [18]:
# Return a number between 1 and 10
random.randint(1,10)

2